DATABASE_URL=postgresql+psycopg2://postgres:1520@localhost:5432/defectly
APP_NAME=defectly

SECRET_KEY=666bd0a99257aa56bf7874110a67f9b0030a8c7c0775a0da27e7483a41399975
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60
REFRESH_TOKEN_EXPIRES_DAYS=7

OTP_EXP_MIN=10
OTP_RESEND_COOLDOWN_SEC=60

SMTP_SERVER=sandbox.smtp.mailtrap.io
SMTP_PORT=587
SMTP_USERNAME=8749c0b403fa35
SMTP_PASSWORD=954ebef731ca81